sublime/User/Package\ Control.cache/
sublime/User/Package\ Control.last-run
sublime/User/GoSublime/
sublime/User/GoSublime-aux.sublime-settings
sublime/User/Package Control.merged-ca-bundle
sublime/User/Package Control.user-ca-bundle

mlterm/challenge

fish/fishd.*
