.datemenu {
	@include floating_widget;

	.widget {
		@include widget;
		margin: $spacing;
		padding: $spacing;
	}

	.calendar-bin {
		padding: 1em 2em .4em 2em;
		@include calendar;
	}

	.system {
		>* {
			@include widget;
			margin: $spacing;
			padding: 5px;
			min-width: 3.4em;
			min-height: 3.4em;
		}

		circular-progress {
			background-color: $bg_color;
			color: $accent;

			&.battery {
				&.low {
					color: $red
				}
			}

			.icon {
				font-size: 1.3em;
			}
		}
	}

	.media {
		@include media($style: 'widget')
	}
}
